@import "tailwindcss";

:root {
  --background: #030008;
  --foreground: #e2e8f0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #030008;
    --foreground: #e2e8f0;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Inter', sans-serif;
}
